* {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

a {
	transition: color 0.2s ease;
}

ul {
	list-style-type:none;
}

h1 {
	font-weight: normal;
	font-size: 38px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Baskervville', serif;
}

h3 a{
	color: #3771DD;
	text-decoration: none;
}

h3 a:hover, h3 a:active {
	color: #DD4540;
}

#header {
	background-color: #fcfcfc;
	border-bottom: 1px solid #dddddd;
	padding: 10px;
}

#menu {
	width: 75%;
	margin-left: 8px;
}

#menu, #menu a {
	font-size: 18px;
	color: rgb(93, 28, 25);
	font-family: 'Baskervville', serif;
}

#menu a:link, #menu a:visited {
	color: rgb(93, 28, 25);
	text-decoration: none;
}

#menu a:hover, #menu a:active {
	color: red;
}

#content {
	margin: 10px;
}
