* {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

html{
	background: #010105;
}

body {
	max-width: 800px;
	background: white;
	border-right: 3px solid #1d4ab3;
}

@media only screen and (max-width: 800px) {
  body {
	  border-right: none;
  }
}

a {
	transition: color 0.2s ease;
}

ul {
	list-style-type:none;
}

h1 {
	font-weight: normal;
	font-size: 38px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Baskervville', serif;
}

@media only screen and (max-width: 375px) {
  h1 {
	margin-left: 0px;
	margin-top: -7px;
	margin-bottom: 7px;
  }
}

h3 a{
	color: #3771DD;
	text-decoration: none;
}

h3 a:hover, h3 a:active {
	color: #DD4540;
}

#header {
	background-color: #f9f9fa;
	border-bottom: 1px solid #dddddd;
	padding: 10px;
}

#socials {
	margin-top: 8px;
	margin-left: 14px;
	margin-bottom: 6px;
	float: right;
}

@media only screen and (max-width: 375px) {
  #socials {
	float: left;
	margin-left: 12px;
	margin-top: 12px;
  }
}

#socials a img {
	margin-right: 8px;
	width:16px;
}

#menu {
	width: 75%;
	margin-left: 6px;
	margin-top: 10px;
}

@media only screen and (max-width: 375px) {
  #menu {
	  clear: left;
	  margin-left: 0px;
  }
}

#menu, #menu a {
	font-size: 18px;
	color: rgb(93, 28, 25);
	font-family: 'Baskervville', serif;
}

#menu a:link, #menu a:visited {
	color: rgb(93, 28, 25);
	text-decoration: none;
}

#menu a:hover, #menu a:active {
	color: red;
}

#content {
	margin: 10px;
}

#mybadges {
	margin: 10px 0 0 0;
}

.mybadge {
	display: inline-block;
	padding: .4em .45em .2em .5em;
    margin: 2px 2px 2px 0;
	border-width: 1px;
	border-color: #AAAAAA;
    border-style: solid;
    border-radius: 3px;
}
@media only screen and (max-width: 375px) {
  .mybadge {
	margin-left: 0px;
  }
}

.mybadge img {
	height: 20px;
}

.mybadge a:any-link{
	text-decoration: none;
}


.expertlanguagetag {
	display:inline-block;
	margin: 2px 2px 2px 10px;
    font-size: 14px;
    line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: super;
}